* {
    font-family: 'Righteous', sans-serif;
    background: #ADD8E6;
    font-weight: 400;
    font-size: 20px;
    line-height: 120%;
}

.logoCadeado {
    margin-left: 10px;
    padding-top: 15px;
    width: 5%;
}

main {
    display: flex;
    margin-bottom: 50px;
    margin-left: 80px;
    
}

#input-padrao {
    border: none;
    color: #191970;
    margin-top: 90px;
    text-transform: lowercase;
}

::placeholder { color: #0a3871;}
    .text-area:focus {
        outline: none;
    }
    
    .informação {
        color:#0a3871;
    }

    .texto-secundario {
        padding: auto;
        display: flex;
        
  }

    #texto-codificado {
    background: white;
    background-image: url(/images/avatar-decode.svg);
    background-repeat: no-repeat;
    border: none;
    border-radius: 20px;
    color: #0a3871;
    margin-left: 97px;
    margin-top: 20px;
    padding-left: 20px;
    position: fixed;
    width: 30%;
}

#texto-codificado:focus {
    outline: none;
}

.criptografa {
    align-items: flex-start;
    gap: 8px;
    height: 67px;
    background: #0a3871;
    border: 1px solid #696969;
    border-radius: 24px;
    margin-right: 10%;
    font-weight: bold;
    color: #d8dfe8;
    width: 200px;
    box-shadow: 3px 3px 1px #000000;
    cursor: pointer;
}


.descriptografa {
    
    align-items: flex-start;
    gap: 8px;
    width: 200px;
    height: 67px;
    background: #d8dfe8;
    border: 1px solid #0a3871;
    border-radius: 24px;
    font-weight: bold;
    margin-left: 10px;
    color: #0a3871;
    box-shadow: 3px 3px 1px #000000;
    cursor: pointer;
}

.copia {
    align-items: flex-start;
    gap: 8px;
    width: 200px;
    height: 67px;
    background: #d8dfe8;
    border: 1px solid #0a3871;
    border-radius: 24px;
    font-weight: bold;
    margin-left: 160px;
    margin-top: 407px;
    color: #0a3871;
    box-shadow: 3px 3px 1px #000000;
    cursor: pointer;
    position: absolute;
}

#acao-botao-cri:hover {
    border:2.5px solid #191970 ;
    cursor: pointer;
    color: #1E90FF;
    transition: 1s border color;
    transform: scale(1.1);
}

#acao-botao-des:hover {
    border:2.5px solid #191970 ;
    cursor: pointer;
    color: #1E90FF;
    transition: 1s border color;
    transform: scale(1.1);
}

#comando-copia:hover {
    border:2.5px solid #191970 ;
    cursor: pointer;
    color: #1E90FF;
    transition: 1s border color;
    transform: scale(1.1);
}

.copyright {
    color: #0a3871;
    font-size: 12px;
    
}

footer {
    text-align: left;
    padding-top: 100px;
    margin-bottom: 100px;
}



